@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@400;700&display=swap");

body {
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 24px;
  letter-spacing: 3px;
  font-weight: 400;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
  min-height: 100vh;
}

[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: #eb2f5c;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #eb2f5c;
}
